/* ----------------------------------------
CATEGORY LANDING
---------------------------------------- */
#wrapper.pt_categorylanding #main .banner-container .banner-cell span sub {
  bottom: 0;
}

#wrapper.pt_categorylanding #main .banner-container .banner-cell span sup {
  top: -.26em;
  font-size: 70%;
}

#wrapper.pt_categorylanding #main .banner-container .banner-cell span .break-here {
  font-size: 1em;
  display: inline-block;
  padding: 0;
}

#wrapper.pt_categorylanding #main .banner-container .banner-cell span.promo {
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.35em;
  min-height: 19px;
}

#wrapper.pt_categorylanding #main .banner-container .banner-cell span:not(.fake-button).price {
  white-space: pre-wrap;
}

#wrapper.pt_categorylanding #main .banner-container .banner-cell .fake-button {
  max-width: 160px;
  width: 100%;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #wrapper.pt_categorylanding #main .banner-container .banner-cell .fake-button {
    padding: 0 .8125rem;
    font-size: 10px;
    font-size: 1.3vw;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #wrapper.pt_categorylanding #main .banner-container .banner-cell .fake-button {
    font-size: .7rem;
  }
}

/* ----------------------------------------
GRID IMAGE SIZING
---------------------------------------- */
.product-tile .product-outline-block .product-tile-link {
  display: block;
}

.product-tile .product-outline-block .product-tile-link[title$='Bath Fizzy'] img {
  max-width: 80%;
}

.product-tile .product-outline-block .product-tile-link[title$='Lemon Body Cream'] img {
  max-width: 80%;
}

.product-tile .product-outline-block .product-tile-link[title$='Mini Candle'] img {
  max-width: 65%;
}

.product-tile .product-outline-block .product-tile-link[title$='Single Wick Candle'] img {
  max-width: 70.125%;
}

/* ----------------------------------------
HOMEPAGE LOCKUP
---------------------------------------- */
.home-bottom-slots .home-grid-one .grid-col .under-menu ul li span {
  color: #333;
}

.home-carousel .item .image img {
  width: 100%;
}

.home-carousel .item .image img,
.grid-col .item .image img {
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  left: 50%;
  position: relative;
}

.home-carousel .item .details.overlay,
.grid-col .item .details.overlay {
  max-width: 1920px;
  margin: auto;
}

.home-carousel .item .details.overlay .wrap .box,
.grid-col .item .details.overlay .wrap .box {
  display: block;
  color: #005699;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  line-height: 1;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  bottom: 17px;
  left: 25px;
  width: calc(100% - 50px);
  padding: 15px 0;
  height: auto;
  -webkit-transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.home-carousel .item .details.overlay .wrap .box.sticky,
.grid-col .item .details.overlay .wrap .box.sticky {
  position: fixed;
}

.home-carousel .item .details.overlay .wrap .box.active,
.grid-col .item .details.overlay .wrap .box.active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .home-carousel .item .details.overlay .wrap .box,
.grid-col .item .details.overlay .wrap .box {
    bottom: 6.5%;
    right: 4%;
    left: inherit;
    padding: 15px;
    max-width: 262px;
    max-height: 192px;
    height: 12em;
  }
}

@media screen and (min-width: 768px) {
  .home-carousel .item .details.overlay .wrap .box .centerer,
.grid-col .item .details.overlay .wrap .box .centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

.home-carousel .item .details.overlay .wrap .box span,
.grid-col .item .details.overlay .wrap .box span {
  font-size: 28px;
  font-size: 1.75rem;
}

.home-carousel .item .details.overlay .wrap .box span.sub-title,
.grid-col .item .details.overlay .wrap .box span.sub-title {
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .home-carousel .item .details.overlay .wrap .box span.sub-title,
.grid-col .item .details.overlay .wrap .box span.sub-title {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: .9;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .home-carousel .item .details.overlay .wrap .box span.small-title,
.grid-col .item .details.overlay .wrap .box span.small-title {
    margin-top: 4px;
  }
}

.home-carousel .item .details.overlay .wrap .box span sub,
.grid-col .item .details.overlay .wrap .box span sub {
  font-size: .5em;
  bottom: .01em;
  margin: 0 0 0 .1em;
  text-transform: none;
  position: relative;
}

.home-carousel .item .details.overlay .wrap .box span sup,
.grid-col .item .details.overlay .wrap .box span sup {
  font-size: .6em;
  margin: 0;
  text-transform: none;
}

.home-carousel .item .details.overlay .wrap .box span .disclaimer,
.grid-col .item .details.overlay .wrap .box span .disclaimer {
  font-size: .8rem;
  display: block;
  text-transform: none;
  margin-top: 1em;
}

.home-carousel .item .details.overlay .wrap .box span .disclaimer sup,
.grid-col .item .details.overlay .wrap .box span .disclaimer sup {
  font-size: .5em;
  top: -.74em;
}

.home-carousel .item .details.overlay .wrap .box span .astrisk,
.grid-col .item .details.overlay .wrap .box span .astrisk {
  margin-right: -13px;
}

.grid-col .item {
  position: relative;
}

.bottom-text.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .bottom-text.mobile {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .bottom-text.desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .bottom-text .embellish {
    line-height: 2.125rem;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    padding: 0 .8125rem;
    max-height: 35px;
    height: 35px;
    letter-spacing: .999px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: table !important;
    margin: 10px auto 0 !important;
  }
}

.hp-video {
  position: relative;
}

.home-grid-two .hp-video {
  position: relative;
}

.home-grid-two .hp-video .image-wrap {
  position: relative;
}

.home-grid-two .hp-video .video-wrap {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.home-grid-two .hp-video.tall .video-wrap {
  top: 18.933%;
}

.home-grid-two .hp-video.tall.square .video-wrap {
  margin: 0;
  padding: 0;
  top: 54.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 67%;
  margin: 0;
  padding: 0;
}

.home-grid-two .hp-video.tall.square .video-wrap .video-container {
  padding-bottom: 100%;
}

.home-grid-two .hp-video.short .video-wrap {
  top: 14.909%;
}

.home-grid-one .hp-video {
  position: relative;
}

.home-grid-one .hp-video .image-wrap {
  position: relative;
}

.home-grid-one .hp-video .video-wrap {
  position: absolute;
  z-index: 2;
  width: 94.843%;
  left: 50%;
  top: 17.016%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (min-width: 768px) {
  .home-grid-one .hp-video .video-wrap {
    width: 48.194%;
    left: 48.680%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.home-bottom-slots .home-bottom-left,
.home-bottom-slots .home-bottom-right {
  max-width: 1470px;
  width: 100%;
}

/* ----------------------------------------
	TOP OFFERS
---------------------------------------- */
#wrapper #main .product-top-banner.topoffers {
  margin-bottom: 20px !important;
}

@media only screen and (max-width: 767px) {
  #wrapper #main .top-offers {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  #wrapper #main .top-offers {
    margin: 0 15px 25px;
  }
}

#wrapper #main .top-offers h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #wrapper #main .top-offers h1 {
    display: inline;
    font-size: 2rem;
    letter-spacing: -.5px;
    margin-right: 1rem;
  }
}

#wrapper #main .top-offers p {
  font-size: .9rem;
  margin: 0;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  #wrapper #main .top-offers p {
    display: inline;
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 600px) {
  #wrapper #main.brand.grid {
    padding-left: 0;
    padding-right: 0;
  }
}

#wrapper #main .banner-container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  #wrapper #main .banner-container.two-cells {
    max-width: 790px;
    margin: 0 auto;
  }
}

#wrapper #main .banner-container.two-cells .banner-cell {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  margin: 0 0 35px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#wrapper #main .banner-container.two-cells .banner-cell.odd {
  padding-left: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell.even {
  padding-right: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell.last {
  margin-bottom: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#wrapper #main .banner-container.two-cells .banner-cell span sub {
  bottom: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell span sup {
  top: -.26em;
  font-size: 70%;
}

#wrapper #main .banner-container.two-cells .banner-cell span .break-here {
  font-size: 1em;
  display: inline-block;
  padding: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell span.promo {
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.35em;
  min-height: 0;
}

#wrapper #main .banner-container.two-cells .banner-cell span:not(.fake-button):not(.break-here) {
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  color: #333;
  display: block;
  text-align: center;
  padding: 3px 0;
}

#wrapper #main .banner-container.two-cells .banner-cell span:not(.fake-button):not(.break-here).name {
  font-size: 14px;
  font-size: .875rem;
  text-transform: uppercase;
}

#wrapper #main .banner-container.two-cells .banner-cell span:not(.fake-button):not(.break-here).price {
  white-space: pre-wrap;
  font-size: 1.875rem;
}

#wrapper #main .banner-container.two-cells .banner-cell span:not(.fake-button):not(.break-here).promo {
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.35em;
}

#wrapper #main .banner-container.two-cells .banner-cell .fake-button {
  max-width: 160px;
  width: 100%;
  margin: auto auto 0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #wrapper #main .banner-container.two-cells .banner-cell .fake-button {
    padding: 0 .8125rem;
    font-size: 10px;
    font-size: 1.3vw;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #wrapper #main .banner-container.two-cells .banner-cell .fake-button {
    font-size: .7rem;
  }
}

#wrapper #main .banner-container .banner-cell {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

#wrapper #main .banner-container .banner-cell img {
  display: block;
  margin: 0 auto 6px !important;
  /*@media only screen and (max-width: 767px) {
						margin: 0 auto 10px;
					}*/
}

#wrapper #main .top-offers-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

#wrapper #main .top-offers-content img {
  max-width: 100%;
}

#wrapper #main .top-offers-content .section.top-offers h1 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #wrapper #main .top-offers-content .section.top-offers h1 {
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

#wrapper #main .top-offers-content .section.top-offers p {
  font-size: .9rem;
  margin: 0;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  #wrapper #main .top-offers-content .section.top-offers p {
    display: inline;
    font-size: 1.1875rem;
    margin-top: .2rem;
  }
}

#wrapper #main .top-banner {
  margin-bottom: 30px;
}

#wrapper #main .bottom-banner {
  margin-bottom: 20px;
}

#wrapper #main .shop-by-category h2 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #wrapper #main .shop-by-category h2 {
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

/* ----------------------------------------
BAZAARVOICE
---------------------------------------- */
.bv-content-data-label-container span.bv-content-data-icon {
  display: none !important;
}

/* ----------------------------------------
VIDEO
---------------------------------------- */
.video-wrap .video-container {
  height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
}

.video-wrap .video-container iframe {
  border: none;
  height: 100%;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.bbwd-video-embed {
  position: relative;
}

.bbwd-video-embed a {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.bbwd-video-embed picture {
  z-index: 90;
}

.bbwd-video-embed picture picture img {
  position: relative;
  z-index: 90;
}

.bbwd-video-embed .video-js .vjs-control-bar,
.bbwd-video-embed .video-js .vjs-play-control {
  z-index: 110 !important;
}

.bbwd-video-embed .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

video-js:not(#vjs_video_3) {
  left: 0;
  position: absolute;
  top: 0;
}

#myProdChatLinkContainer,
#myColChatLinkContainer {
  visibility: hidden;
  opacity: 0;
}

#myProdChatLinkContainer.rn_ChatAvailable,
#myColChatLinkContainer.rn_ChatAvailable {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: fixed;
  bottom: 58px;
  right: 20px;
  display: block;
  z-index: 101;
  text-indent: 9999px;
  white-space: nowrap;
  width: 57px;
  height: 57px;
  padding: 8px 0;
  background: url(https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1720724596301/images/chat_icon.svg?yocs=w_A_) no-repeat 50%;
  background-size: 57px;
  cursor: pointer;
}

#myProdChatLinkContainer > div,
#myColChatLinkContainer > div {
  width: 100%;
  height: 100%;
}

#myProdChatLinkContainer > div a,
#myColChatLinkContainer > div a {
  width: 100%;
  height: 100%;
  display: block;
}

.button.scrollToTop {
  display: none !important;
}

#myFootChatLink .chat-unavailable-offline {
  display: none;
}

#myFootChatLink.rn_ChatAvailable .placeholder {
  display: none;
}

#myCOChatContainer {
  display: inline;
}

#myCOChatContainer div {
  display: inline;
}

#myCOChatContainer .seperator {
  padding-left: 0 !important;
}

#myCOChatContainer .phone {
  padding-right: 0;
  padding-left: 12px;
}

#myCOChatContainer.rn_ChatAvailable .phone,
#myCOChatContainer.rn_ChatAvailable .availability {
  display: none;
}

#myCOChatContainer.rn_ChatAvailable a {
  text-decoration: underline;
}

#myCOChatContainer.rn_ChatAvailable a:hover {
  color: #333;
}

.checkout-header .header-banner .wrap-promo .checkout-header-message > span {
  padding-right: 0;
}

/* Animation */
@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(10px, 10px, -5px);
            transform: translate3d(10px, 10px, -5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(10px, 10px, -5px);
            transform: translate3d(10px, 10px, -5px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

/* Proctive Chat Dialog */
#rn_Dialog_0_c {
  width: 570px;
  height: 370px;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c {
    width: 92%;
  }
}

#rn_Dialog_0_c #rn_Dialog_0 {
  width: 570px;
  height: 370px;
  background: white;
  border: none;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c #rn_Dialog_0 {
    width: 100%;
    height: 346px;
  }
}

#rn_Dialog_0_c .hd {
  color: #005699;
  font-weight: normal;
  font-size: 74px;
  text-align: center;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  margin: 108px 0 0;
  line-height: 1;
  position: relative;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c .hd {
    margin: 98px 0 0;
  }
}

#rn_Dialog_0_c .hd::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -87px;
  left: 50%;
  margin-left: -35px;
  background-image: url(https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1720724596301/images/live-chat/avatar-agent-lg.svg?yocs=w_A_);
  background-size: 70px;
  z-index: 6;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c .hd::before {
    top: -77px;
  }
}

#rn_Dialog_0_c .hd::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  top: -64px;
  background-image: url(https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1720724596301/images/live-chat/gingham-pattern.svg?yocs=w_A_);
  height: 24px;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c .hd::after {
    top: -54px;
  }
}

#rn_Dialog_0_c .bd {
  padding: 0 0 20px;
}

#rn_Dialog_0_c .ft {
  border: none;
}

#rn_Dialog_0_c rn_SyndicatedChatAvatarDiv {
  display: none;
}

#rn_Dialog_0_c .rn_SyndicatedChatHeaderLabelDiv {
  display: none;
}

#rn_Dialog_0_c .rn_SyndicatedChatQuestionDiv {
  width: 100%;
  font-size: 14px;
  height: auto;
}

#rn_Dialog_0_c .rn_SyndicatedChatQuestionLabel {
  text-align: center;
  font-size: 14px;
  color: #333;
}

#rn_Dialog_0_c .rn_SyndicatedChatAvatarDiv,
#rn_Dialog_0_c .rn_SyndicatedChatLogoImageDiv {
  display: none;
}

#rn_Dialog_0_c .yui-button,
#rn_Dialog_0_c .yui-button .first-child {
  border: none;
  background: none;
  display: block;
}

#rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_0 {
  margin-top: 24px;
}

#rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_0-button {
  font-size: 10px;
  height: 35px;
  border-radius: 0;
  outline: none;
  border: none;
  color: white;
  background: #333;
  margin: 0 auto;
  padding: 0 15px;
}

#rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_0-button:hover {
  color: #333;
  background-color: #F2F2F2;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_0-button {
    width: 91%;
    padding: 0;
  }
}

#rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_1 {
  margin-top: 14px;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_1 {
    margin-top: 11px;
  }
}

#rn_Dialog_0_c #rn_DialogButton_rn_Dialog_0_1-button {
  text-decoration: underline;
  text-transform: none;
  color: #333;
  font-size: 14px;
  margin: 0 auto;
  text-transform: capitalize;
  letter-spacing: 0;
}

#rn_Dialog_0_c #spac_32495661_RefuseDiv {
  text-align: center;
  margin-top: 11px;
}

@media screen and (max-width: 480px) {
  #rn_Dialog_0_c #spac_32495661_RefuseDiv {
    margin-top: 9px;
  }
}

#rn_Dialog_0_c .rn_SyndicatedLabel {
  display: inline;
}

#rn_Dialog_0_c .container-close {
  background-image: url(https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1720724596301/images/live-chat/close-bl.svg?yocs=w_A_);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  background-color: white;
}

#rn_Dialog_0_c .container-close:hover {
  background-color: #005699;
  background-image: url(https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1720724596301/images/live-chat/close-wt.svg?yocs=w_A_);
}

.chat-container div {
  display: inline;
}

.chat-container #myFootChatLink {
  display: none;
}

.chat-container #myFootChatLink.rn_ChatAvailable {
  display: inline;
}

.under-footer {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  .under-footer {
    text-align: center;
  }
}

.mac .under-footer {
  padding-bottom: 30px;
  padding-top: 30px;
}

.under-footer .content-asset .facebook-counter {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .under-footer .content-asset .copyright {
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .under-footer.checkout-under-footer .copyright {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .under-footer.checkout-under-footer .copyright .under-menu ul li a {
    font-size: 12px;
  }
}

.copyright {
  font-size: 14px;
}

.copyright .under-menu ul {
  margin: 0 0 24px;
}

.copyright .under-menu li {
  border-right: 1px solid #aaa;
  line-height: 10px;
  margin: 0 10px 0 0;
  padding-right: 10px;
}

.copyright .under-menu li a {
  font-size: 14px;
  border-right: none;
  color: #333;
  margin: 0;
  padding-right: 0;
  text-decoration: none;
}

.copyright .under-menu li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .copyright .under-menu li a {
    font-size: 14px;
    text-decoration: none;
  }
}

.copyright .under-menu li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.copyright .copyright {
  line-height: 1.285714286;
}

.shop-the-image .shop-container .product-tile {
  height: auto !important;
}

/* temporary fix for JATC ATB buttons being slightly cut-off */
.ui-dialog.jatc-recommendations .recommendations-container .owl-item {
  min-height: 281px;
}

.ui-dialog.jatc-recommendations .recommendations-container .product-price {
  margin: 0 !important;
}

/* TEMPORARY FIX FOR OWL DOTS - 7/30/2020 */
.owl-dots {
  display: none !important;
}

/* TEMPORARY PDP CERTONA OWL ISSUE BYPASS - 8/27/2020 */
.pt_product-details ~ .quickview .owl-carousel div:not(:first-child),
.pt_product-details ~ .quickview .owl-carousel:not(:first-of-type) {
  display: none !important;
}

/*TEMPORARILY HIDE WRITE A REVIEW ON QUICKLOOK */
#QuickViewDialog button#WAR {
  display: none !important;
}

/* HAND SOAPS & SANITIZERS TEMPORARY STYLING - 01/13/2021 */
@media only screen and (min-width: 1050px) {
  nav#navigation .nav-lvl1 > li > a {
    font-size: 13px;
    padding: 13px 14px 8px;
  }
}

@media only screen and (min-width: 1400px) {
  nav#navigation .nav-lvl1 > li > a {
    font-size: 14px;
    font-size: .875rem;
    padding: 13px 14px 8px;
  }
}

/* 2/25/2021 - BREADCRUMBS PROD ISSUE */
.breadcrumb > script {
  display: none !important;
}

/*GLOBAL LOCATIONS STYLE ADDED URLS 021821*/
.global-locations .locations-nav span~a {
	border-left:1px solid #333;
	padding:0 15px;
	margin-bottom:30px;
}
.global-locations .locations-nav span {
	margin-bottom:0;
}

/*GLOBAL LOCATIONS ADD GUATEMALA AND NETHERLANDS 032221*/
.global-locations .country-label.guatemala {
    background-position: 0 -594px;
}
.global-locations .country-label.netherlands {
    background-position: 0 -612px;
}

@media screen and (min-width: 768px){

#gifts .nav-lvl2-container > ul {

width: 210px !important

}

}

.search-result-options .grid-tile .grid-slot-content img {
  display: none;
}

.flyout-product-recommendation .product-tile.tile-two-images .zone_product-image_main img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}
.tile-two-images.product-tile .front.face {
    align-items: flex-end;
}
.ds-shop-the-image-product-tile .tile-two-images .tile-image-wrapper img {
    transform: translateY(0);
}


/*TOP NAV FIX FOR JUNE SAS
@media only screen and (min-width: 768px) {
  #all-sale .nav-lvl2-container {
    display: flex;
  }
}
*/

/*# sourceMappingURL=global-bbw-content-style.css.map */

/*TOP NAV STYLING*/

nav#navigation .nav-lvl1 > li[data-id='all-sale'] > a {
  color: #D50032 ; }
  nav#navigation .nav-lvl1 > li[data-id='all-sale'] > a:hover {
    border-color: #D50032 ; } 

/*
.primary-logo a {
  background-image: url("https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21b/on/demandware.static/-/Sites-BathAndBodyWorks-Library/default/dw6004d841/images/23-WAH_site-logo.svg?yocs=w_A_");
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  position: relative;
  overflow: visible;
  height: 29px;
  width: calc(100%);
}

@media screen and (min-width: 768px) {
  .primary-logo a {
    height: 100%;
    width: 100%;
  }
}

.primary-logo a img {
  display: none;
}

.pt_checkout .primary-logo a {
    background-position: center;
}

@media screen and (min-width: 768px) {
    .pt_checkout .primary-logo a {
        height: 27px;
    }
}
@media screen and (min-width: 1025px) {
    .pt_checkout .primary-logo a {
        height: 35px;
    }
}*/

/* CRP FIX Start */
.crp-cursive {
  font-family: "SourceSansPro",Arial,sans-serif !important;
}
.crp-wrapper .crp-intro h1 {
  letter-spacing: 0.005em !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  width: auto !important;
  margin-top: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.crp-wrapper h1 .crp-cursive {
  font-weight: 700 !important;
  transform: none !important;
  text-transform: capitalize !important;
}


.crp-wrapper h2 .crp-cursive,
.crp-wrapper .subhead-h3 .crp-cursive,
.crp-wrapper section section h3 .crp-cursive,
.crp-wrapper .crp-closing p strong .crp-cursive {
  line-height: 1 !important;
  font-weight: 700 !important;
}
.crp-wrapper section section h3 {
  padding: 0 !important;
}
.crp-wrapper .crp-what-you-like .crp-subhead > p,
.crp-wrapper .crp-fragrance-family .crp-subhead > p,
.crp-wrapper .crp-where-to-use-it .crp-subhead > p,
.crp-wrapper .crp-test-drive .crp-subhead > p,
.crp-wrapper .crp-way-to-fragrance .crp-subhead > p,
.crp-wrapper .crp-way-to-fragrance + .crp-closing p:first-child strong {
  color: #0068ed !important;
}



.crp-wrapper .crp-step-1-cleanse h2 .crp-cursive,
.crp-wrapper .crp-step-2-moisturize h2 .crp-cursive,
.crp-wrapper .crp-step-3-spritz h2 .crp-cursive,
.crp-wrapper section .crp-subhead h2 {
  font-size: 50px !important;
  line-height: 56px !important;
  font-weight: 700 !important;
  letter-spacing: .005em !important;
  text-transform: capitalize;
}
.crp-wrapper .crp-step-1-cleanse .crp-item .crp-description h3 ,
.crp-wrapper .crp-step-2-moisturize .crp-item .crp-description h3 ,
.crp-wrapper .crp-step-3-spritz .crp-item .crp-description h3 {
  font-size: 24px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
}

.crp-wrapper .crp-intro .crp-head {
  background-position: center !important;
}

.crp-wrapper .crp-subhead > p {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  letter-spacing: .005em !important;
}

.crp-wrapper .crp-item .crp-description h4,
.crp-wrapper .crp-item .crp-description h3,
.crp-wrapper .crp-item .crp-description h2 {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  letter-spacing: .005em !important;
  text-transform: capitalize !important;
}

.crp-wrapper p, .crp-wrapper p a, .crp-wrapper ul, .crp-wrapper ol, .crp-wrapper li {
  font-family: "SourceSansPro",Arial,sans-serif !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.crp-wrapper ul strong,
.crp-wrapper h1,
.crp-wrapper h2,
.crp-wrapper h3,
.crp-wrapper h4,
.crp-wrapper .crp-button {
  font-family: "SourceSansPro",Arial,sans-serif !important;
}

.crp-wrapper .crp-description p, .crp-wrapper .crp-description li {
  line-height: 24px !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}

.crp-wrapper .crp-closing p strong,
.crp-wrapper .crp-closing p strong .crp-cursive {
  font-size: 45px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  letter-spacing: 0em !important;
}
.crp-wrapper .crp-closing p strong .crp-cursive {
  text-transform: capitalize !important;
}

.crp-wrapper .crp-button {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: .015em !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 234px !important;
  margin: 0 auto !important;
}
.crp-wrapper .crp-closing p strong .crp-cursive,
.crp-wrapper .crp-closing h2 .crp-cursive,
.crp-wrapper .crp-closing p strong .crp-cursive {
  font-size: 45px !important;
  line-height: 45px !important;
}

.crp-wrapper .crp-step-3-spritz + .crp-closing p strong .crp-cursive {
  font-size: 50px !important;
}

.crp-wrapper .crp-closing p a {
  color: #333 !important;
  font-weight: 600 !important;
}



.crp-wrapper .crp-birthday .crp-subhead > p,
.crp-wrapper .crp-graduation .crp-subhead > p,
.crp-wrapper .crp-bridal .crp-subhead > p {
  color: #005699 !important;
  line-height: 24px !important;
}

.crp-wrapper .crp-intro .crp-head {
  height: auto !important;
  padding-top: 0 !important;
}
.crp-wrapper .crp-intro .crp-cursive {
  position: static !important;
  line-height: 1 !important;
}
@media screen and (min-width: 480px) {

}


@media screen and (min-width: 768px) {
  .crp-wrapper .crp-intro h1 {
    position: relative;
  }
  .crp-wrapper .crp-intro h1::before {
    left: 34px !important;
    margin: 0 !important;
    bottom: 50% !important;
    transform: translateY(50%) !important;
  }

}

@media screen and (min-width: 1024px) {
  .crp-wrapper .crp-intro h1::before {
    left: 100px !important;
  }
  .crp-wrapper .crp-birthday .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-graduation .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-bridal .crp-subhead > h2 .crp-cursive {
    font-size: 50px !important;
    line-height: 1 !important;
  }
}

@media screen and (min-width: 1440px) {

  .crp-wrapper .crp-intro h1::before {
    background-size: 125.5px 171px !important;
    left: 4px !important;
  }

  .crp-wrapper .crp-what-you-like .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-fragrance-family .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-where-to-use-it .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-test-drive .crp-subhead > h2 .crp-cursive,
  .crp-wrapper .crp-way-to-fragrance .crp-subhead > h2 .crp-cursive {
    font-size: 80px !important;
    line-height: 1 !important;
}

}

/* Recommendations Fix */
@media screen and (min-width: 768px) {
    .kibo-recommendations-container.cart-recommendations .product-tile {
        max-width: 160px;
  }
}

/* Homepage Live Text Spacing Fix */
.ds-live-text-price-point.ds-live-text-text {
      @media screen and (max-width: 599px) {
          padding: 16px 24px;
      }
}

/* 
    Fix for desktop search panel overlay (overlay height incorrect due to multiple line global banner)
 */
 #search-suggestions .search-fly-out-opacity {
    top: 11.5rem;
}
