*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
/*---GRID SYSTEM-------*/
img{width: 100%;display: block; height: 100%;}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    margin: 20px auto;
    background-color: rgb(220, 230, 210);
    box-shadow: 1px 1px 3px gray;
}
.img-container{
    margin: 10px;
    border: solid black 3px;
}
/*----- MEDIA QUERY---------*/
/* breakpoint for large screen up to 1200 px*/
@media screen and (max-width: 1200px) {
    .grid-container{
        background-color: pink;
        width: 800px;
        grid-template-columns: auto auto;
    }
}

/* breakpoint for medium screen up to 900px*/
@media screen and (max-width: 900px){
    .grid-container{
        background-color: chartreuse;
        width: 80%;
        grid-template-columns: auto;
    }
}
/* -----  MAIN CONTAINER ------*/
.header-container{
    background-color: purple;
    color: white;
    display: flex;
    width: 100%;
}
.header-container > div {
    padding: 20px;
}
.header-container > div:nth-child(1){
    margin-left: auto;
}
/*----INTRO CONTAINER-----*/
.intro-container{
    display: grid;
    height: 300px;
    grid-template-columns: 20% 50% 30%;
}
.nav-menu{
    background-color: lightpink;
}
.content{
    background-color: lightcoral;
}
.blog{
    background-color: hotpink;
}
.footer{
    background-color: rgb(50, 20, 50);
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer > div{
    border: solid white 2px;
}
/*--- breakpoint up to 900px (tablet)*/
@media screen and (max-width:900px){
    .nav-menu{
        background-color: olive;
    }
    .content{
        grid-column: span 2;
    }
    .blog{
        grid-column: span 3;
    }
}
/*---- breakpoint up to 600px (smartphone view)-----*/ 
@media screen and (max-width:600px){
    .nav-menu{
        background-color: magenta;
        grid-column: span 3
    }
    .content{
        grid-column: span 3;
    }
    .blog{
        grid-column: span 3;
    }
}